{
  "presets": [
    "@babel/flow",
    [
      "@babel/env",
      {
        "targets": {
          "node": "14.17.3"
        }
      }
    ]
  ],
  "plugins":[
    "@babel/plugin-proposal-object-rest-spread"
  ]
}